<style>
    .main-container{
      background: #ff6fc7;
      /*background: #00e7ff;*/
    }
</style>
<template>
  <v-app>
    <Header></Header>
    <v-main class="main-container">
      <router-view></router-view>
    </v-main>
    <Footer></Footer>
  </v-app>
</template>

<script>

import Header from '@/views/Header.vue';
import Footer from '@/views/Footer.vue';

export default {
  name: 'App',

  components: {
    Header,
    Footer
  },

  data: () => ({
    //
  }),
};
</script>
