<style>
.chip-support{
  justify-self: end; 
  background-color: lime !important;
  width: auto;
}
.chip-myself{
  justify-self: start; 
  background: cyan !important;
  width: auto;
}
.container-support{
  display:grid;
  background: #ccf2c8; 
  padding:1em;
}
.container-myself{
  display:grid;
  background: white; 
  padding:1em;
}
</style>
<template>
  <v-container class="py-1 px-10">
    <v-card class="my-10 mx-10">
      <v-card-title style="background-color: #cef7f7;">
        <span style="color:black; font-size:large; margin-right:5px;">Support</span>
         <span style="color:gray;"> - </span>
        <span style="color:#005700; font-size: large; margin-left: 5px;">Online</span>
        </v-card-title>
      <v-card-text style="padding-left:0px; padding-right:0px;">
      <div style="width:100%; display:grid; grid-gap:0px; padding:0px; grid-template-columns: 1fr;">
        <div v-for="m in messages" :key="m.id" v-bind:class="{ 'container-myself': m.myself, 'container-support': !m.myself}">
                <v-chip v-bind:class="{'chip-myself': m.myself, 'chip-support': !m.myself}">
                  {{m.message}}
                </v-chip>
        </div>
      </div>
          <div style="width: 100%; display: grid; grid-gap:2rem; padding: 1em; grid-template-columns: 7fr 1fr;">
              <v-text-field v-model="mensaje" ></v-text-field>
              <v-btn style="align-self:center;"
                color="primary"
                block
                @click="chat"
              >Envíar</v-btn>
          </div>
      </v-card-text>
    </v-card>
  </v-container>
</template>

<script>
import { mapGetters } from 'vuex';
import ChatService from '@/services/chat.service.js';
export default {
  name: 'Home',

  data() {
    return {
      mensaje: 'En que te podemos ayudar?',
      messages: []
    } 
  },

  computed: {
      ...mapGetters(['getSession','isAdmin'])
  },

  methods: {
   unquote(m){
    if(m[0]=='"'){
      return m.substring(1,m.length-1);
    } else return m;
   },
   chat(){
      this.messages.push({myself: true, message: this.mensaje});
      console.log('admin', this.isAdmin, 'getsession', JSON.stringify(this.getSession));
      let type = 'home'
      if(this.getSession){
        if(this.isAdmin) type = 'admin';
        else type = 'cliente';
      }
      console.log(type);
      ChatService.chat(this.mensaje, type).then(m=>{
        const raw = this.unquote(m.data.body).split("\\n");
        for(const tm of raw){
          this.messages.push( {myself: false, message: tm} );
        }
        this.mensaje = '';
      }).catch(err=>{
        this.mensaje = '';
        //this.messages.push( {myself: false, message: 'F'});
        console.log(err);
      });
    },
    goToEditProfile() {
      this.$router.push('/editProfile');
    }
  }
}
</script>
