<style>
.icon-lyrics{
  margin-right: 0.5em;
}
.m-progress{
  border: 2.5px solid pink;
}
.s-time{
  color: white;
}
#player{
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 80px 150px 50px 1fr 70px 50px;
  grid-gap: 1rem;
  align-items: center;
  padding: 0.5em;
  padding-right: 0.8em;
  background: #3c003c;
}
.mlegend{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2px 1fr;
  grid-gap: 0.5rem;
  justify-items: center;
}
.stitle{
  color: white;
  font-size: larger;
  font-weight: bold;
  align-self: end;
}
.sartist{
  color: white;
  font-size: normal;
  align-self: start;
}
.mdel{
 background: #ff65fa;
 width: 50px;
 height: 1px;
 margin-bottom:30px;
 border: none;
 margin-left:0px;
}
</style>
<template>
  <div v-if="getSession !== null" id="player">
    <v-img
      alt="R7 Logo"
      class="shrink mr-2"
      contain
      :src="song_img"
      transition="scale-transition"
      width="80"
    />
    <div class="mlegend">
          <div class="stitle">{{song_name}}</div>
          <hr class="mdel"/>
          <div class="sartist">{{song_artist}}</div>
    </div>
    <v-icon v-if="track.playing == true"
      x-large color="cyan darken-1" @click="pause"> 
      mdi-math-norm-box
    </v-icon>
    <v-icon v-if="track.playing != true" 
      x-large color="cyan darken-1" @click="play" > 
      mdi-arrow-right-drop-circle
    </v-icon>
    <div><hr :style="{width: track.progress}" class="m-progress"/></div>
    <div class="s-time"> {{track.timestamp}} </div>
    <v-icon 
      x-large light class="icon-lyrics" color="pink lighten-3" @click="lyrics"> 
        mdi-book-open-variant
    </v-icon>
  </div>
</template>

<script>

import { mapGetters } from 'vuex';
import SongService from '@/services/song.service.js';

export default {
    name: 'Footer',
    data() {
    return {
        size: 16,
        offset: 0,
        track: {
          playing: false,
          timestamp: '00:00',
          progress: '0%'
        }
      }
    },
    computed: {
        ...mapGetters(['getSession',
            'get_track',
            'get_songs',
            'song_artist',
            'song_img',
            'song_name'])
    },

    created(){
      this.$store.commit('anchor',this.track);
      if(this.$store.getters.getSession){
        if(this.$store.getters.get_songs.length < 1){
          SongService.getRecommended(this.size, this.offset)
          .then(response => {
            this.$store.commit('set_songs', response.data.songs);
            this.$store.commit('setSong', {
              sig: this.$store.getters.get_songs[0],
              anchor: this.$store
            });
          }).catch(err => console.log(err));
        }else{
          this.$store.commit('setSong', {
            sig: this.$store.getters.get_songs[0],
            anchor: this.$store
          });
        }
      }
    },

    methods: {

        play(){
          this.$store.getters.get_track.play();      
        },
        pause(){
          this.$store.getters.get_track.pause();      
        },
        logout() {
            this.$store.commit('logout');
            this.$router.push('/');
        },
        goToChat() {
            this.$router.push('/support');
        },
        search() {
          console.log('Searching ...');
        },
        goToLogin() {
            this.$router.push('/');
        },
        goToRegister() {
            this.$router.push('/register');
        },
        lyrics(){
            this.$router.push('/lyrics');
        },
        goToHome(){
            if(this.$store.getters.getSession) this.$router.push('/home');
            else this.$router.push('/');
        }
    }

}
</script>
