<style>
  .lupa{
    margin-left: 0.5em;
  }
  .search-bar{
    height: 40px;
  }
</style>
<template>
    <v-app-bar
      app
      dark
      style="background:purple;"
    >
      <div class="d-flex align-center">
        <v-img
          alt="R7 Logo"
          class="shrink mr-2"
          contain
          src="https://ugram-usac.s3.us-east-2.amazonaws.com/R-7-logo.png"
          transition="scale-transition"
          width="40"
        />
        <v-btn text @click="goToHome" >
                <span class="mr-2">R-7</span>
        </v-btn>
      </div>

      <v-spacer></v-spacer>
      <v-text-field class="search-bar" v-model="term"  v-if="getSession !== null" >
      </v-text-field>
      <v-icon x-large class="lupa" color="cyan lighten-3" @click="buscar()" v-if="getSession !== null" > 
        mdi-cloud-search
      </v-icon>
      <v-spacer></v-spacer>

      <div v-if="getSession !== null" >
        <v-btn
            target="_blank"
            text
            @click="goToChat"
            >
                <span class="mr-2"> Support </span>
            </v-btn>

        <v-btn
            target="_blank"
            text
            @click="logout"
            >
                <span class="mr-2"> Logout </span>
            </v-btn>

      </div>

      <div v-if="getSession === null" >
        <v-btn
            target="_blank"
            text
            @click="goToRegister"
            >
                <span class="mr-2"> Registrarse </span>
            </v-btn>

        <v-btn
            target="_blank"
            text
            @click="goToLogin"
            >
                <span class="mr-2"> Login </span>
            </v-btn>

      </div>
    </v-app-bar>
</template>

<script>

import { mapGetters } from 'vuex';
import SongService from '@/services/song.service.js';

export default {
    name: 'Header',

    data(){
      return {
        term: ''
      }
    },
    computed: {
        ...mapGetters(['getSession'])
    },

    methods: {
        goToHome(){
            if(this.$store.getters.getSession) this.$router.push('/home');
            else this.$router.push('/');
        },
        buscar(){
          SongService.search(this.term)
          .then(response => {
            this.$store.commit('set_songs', response.data.songs);
          }).catch(err => console.log(err));
        
        },
        logout() {
            this.$store.commit('logout');
            this.$router.push('/');
        },
        goToChat() {
            this.$router.push('/support');
        },
        search() {
          console.log('Searching ...');
        },
        goToLogin() {
            this.$router.push('/');
        },
        goToRegister() {
            this.$router.push('/register');
        }
    }

}
</script>
