<style>
.nav-pages{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.nav-next{
  justify-self: end;
}
.nav-prev{
  justify-self: start;
}

 .song-grid{
   display: grid;
   grid-gap: 2rem;
   grid-template-columns: repeat(4,auto);
   width: 100%;
 }
 .song{
    width: 250px;
    margin: 0.5em;
 }
 .song img{
    width: 100%;
 }
 .song-cap{
    width: 100%;
    text-align: center;
    background: #01012f;
    color: white;
    font-family: 'Krona One', sans-serif;
 }
 .song-artist{
    width: 100%;
    text-align: center;
    background: cyan;
    color:black;
    font-family: 'Krona One', sans-serif;
 }
</style>
<template>
  <v-container class="py-1 px-4 song-grid-wrapper">
  <div class="song-grid">
            <div v-for="song in get_songs" class="song" :key="song.src">
              <div class="song-artist">
                {{song.artist}}
              </div>
            <v-img
              :alt="song.title"
              :src="song.img"
              style="cursor: pointer;"
              @click="play(song)"
            ></v-img>
              <div class="song-cap">
                {{song.title}}
              </div>
            </div>
  </div>
  <div class="nav-pages">
      <v-icon x-large class="nav-prev" color="cyan darken-3" @click="prev()"> 
        mdi-skip-previous-outline
      </v-icon>
      <v-icon x-large class="nav-next" color="cyan darken-3" @click="next()"> 
        mdi-skip-next-outline
      </v-icon>
  </div>
  </v-container>
</template>

<script>
import { mapGetters } from 'vuex';
import SongService from '@/services/song.service.js';
export default {
  name: 'Home',

  data() {
    return {
      jk: 0, //offset
      jm: 16, //size
      user: {}
    } 
  },

  computed: {
    ...mapGetters(['getSession', 'get_songs', 'get_track'])
  },

  created() {
    this.user = this.$store.getters.getSession;
    if(this.$store.getters.get_songs.length < 1){
      this.load_songs();
    }

  },

  methods: {
    load_songs(){
      SongService.getRecommended(this.user.id,this.jm, this.jk)
      .then(response => {
        this.$store.commit('set_songs', response.data.songs);
        this.$store.commit('setSong', {
          sig: this.$store.getters.get_songs[0],
          anchor: this.$store 
        });
      }).catch(err => console.log(err));
    },
    next(){
      console.log('Size: ', this.jm, 'Offset: ', this.jk);
      this.jk = this.jk + this.jm;
      this.load_songs();
    },
    prev(){
      this.jk = (this.jk - this.jm) < 0? this.jk : this.jk - this.jm;
      this.load_songs();
    },
    play(song){
      this.$store.commit('setSong', { sig: song, anchor: this.$store });
    },
    goToLyrics(song) {
      console.log(song);
      this.$router.push('/lyrics');
    }
  }

}
</script>
