<template>
    <LoginComponent></LoginComponent>
</template>

<script>

import LoginComponent from '@/components/LoginC.vue';

export default {
    name: 'Login',
    components: {
        LoginComponent
    }
}
</script>