<style>
.lyrics-container{
  padding-top: 1em;
  display: grid;
  grid-template-columns: 400px 1fr;
}
.album{
  width: 300px;
  margin: auto;
  justify-self: center;
}
h3{
  text-align: center;
}
h1{
  text-align: center;
  color: #07002b;
}
h2{
  text-align: center;
}
.lyrics-title{
  display: grid;
  grid-template-columns: 7fr 70px 5fr;
  grid-gap: 2rem;
}
.lyrics-title h1{
  align-self: center;
  justify-self: end
}
.langs{
  justify-self: start;
}
.langs > div > div:first-child {
  /*background: cyan;*/
  font-weight: bold;
}
p{
  width: 100%;
  text-align: center;
}
</style>
<template>
<div class="lyrics-container">
 <div>
  <h2>{{song_artist}}</h2>
    <v-img
      class="album"
      :alt="song_name"
      :src="song_img"
    ></v-img>
  <h3>{{song_album_name}}</h3>
 </div> 
 <div>
   <div class="lyrics-title">
    <h1>{{song_name}}</h1>
    <v-select
          class="langs"
          v-model="lang"
          :items="langs"
          item-text="name"
          item-value="id"
          single-line
          @change="translate"
        ></v-select>
    <div></div>
   </div>
   <p>
    <span v-for="line of song_lyrics" :key="line.id">
        {{line.stmt}}
        <br/>
    </span>
   </p>
 </div> 
</div>
</template>

<script>

import { mapGetters } from 'vuex';
import SongService from '@/services/song.service.js';
export default {
    name: 'ViewAlbum',
    data(){
      return {
        langs: [
          { name:'en', id: 1 },
          { name:'ko', id: 4 },
          { name:'fr', id: 2 },
          { name:'ru', id: 3 }
        ],
        lang: 1
      }
    },

    computed: {
      ...mapGetters([
            'song_artist',
            'song_img',
            'song_lyrics',
            'song_lang',
            'song_album_name',
            'song_name'
      ])
    },


    methods: {

        goToHome() { this.$router.push('/home'); },
        translate(){
          SongService.translate(
          this.$store.getters.song_lyrics, this.lang, this.$store.getters.song_lang)
          .then(response => {
            const jk= { 1: 'en', 2: 'fr', 3: 'ru', 4: 'ko' };
            this.$store.commit('translate', 
              {l: response.data.data.translate, nl: jk[this.lang]}
            );
          }).catch(err => console.log(err));
        }
    }

}
</script>
