<template>
    <RegisterComponent></RegisterComponent>
</template>

<script>

import RegisterComponent from '@/components/RegisterC.vue';

export default {
    name: 'Register',
    components: {
        RegisterComponent
    }
}
</script>